{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Huang Go</title>
  </head>
  <body>
    <main class="container">
      <section class="contact-box">
        <button id="contact-btn" class="btn" onclick="(e) => toggleHide(e)">Contato</button>
        <div class="contact hide">
          <form action="" class="contact-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Enviar</button>
          </form>
          <p>Telefone: (21) 98137-0115</p>
        </div>
      </section>
      <section class="schedule-box">
        <button id="schedule-btn" class="btn" onclick="(e) => toggleHide(e)">Agenda</button>
        <div class="schedule hide">
          {% if events %}
            <ul>
                {% for event in events %}
                    <li>{{ event.date }}-{{ event.location }}</li>
                {% endfor %}
            </ul>
          {% else %}
            <p>Não há eventos agendados.</p>
          {% endif %}
        </div>
      </section>
    </main>
  </body>
</html>